html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }


.superior, .pa-admin{
    background-color: rgb(174, 174, 174);
}
.superior {
    text-align: right;
    justify-content: right;
    padding: 10px 0;
    margin: 0;
    padding-right: 50px;
    display: flex;
}
/* center the pa-admin */
.pa-admin{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 0;
}
.photo-user{    
    margin: 0px;
}
.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2px 20px; */
}
.logout:hover{
    border: #000 1px solid;
    background-color: #6c6c6c;
    border-radius: 20%;
}
.cerrar-sesion{
    text-decoration: none;
    color: #000;
    padding: 2px 10px;
}

.cerrar-sesion:hover{
    color: #ed2222;
    padding: 2px 10px;
}

body{
    min-height: 100vh;
    background-color: #95edd1;
}


/* Hacer que la user-photo sea de 20X20 y que cerrar sesion este al lado derecho de la photo */
.user-img{
    width: 50px;
}

nav{
  position: fixed;
  top: 100;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #d5e1de;
}


.menu-items{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    background-color: #d5e1de;
}


.menu-items{
    height: 80%;
    justify-content: center;
}



.menu-items a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    display: block;
    border: 1px solid #000;
    transition: all 0.3s ease;
}


.menu-items a:hover{
    background-color: #000;
    color: #fff;
}

.gestion-reservas{
    margin-left: 250px;
    padding: 20px 20px;
}

.main{
    text-align: right;
}